.loginForm{
    margin-top: 50px;
    margin: auto;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.loginBtn{
    margin: auto;
}
.loginbtn_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-text{
    
}